In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('/content/Tested.csv')

In [6]:
print("First 5 rows of the dataset:")
print(data.head())

print("\nMissing values in each column:")
print(data.isnull().sum())

First 5 rows of the dataset:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

Missing values in each column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:

data['Age'] = data['Age'].fillna(data['Age'].mean())

data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

data['Fare'] = data['Fare'].fillna(data['Fare'].mean())

data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

label_encoder = LabelEncoder()
data['Sex'] = label_encoder.fit_transform(data['Sex'])

data = pd.get_dummies(data, columns=['Embarked'], prefix='Emb')

print("\nCleaned dataset (first 5 rows):")
print(data.head())

Cleaned dataset (first 5 rows):
   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Emb_C  Emb_Q  Emb_S
0         0       3    1  34.5      0      0   7.8292  False   True  False
1         1       3    0  47.0      1      0   7.0000  False  False   True
2         0       2    1  62.0      0      0   9.6875  False   True  False
3         0       3    1  27.0      0      0   8.6625  False  False   True
4         1       3    0  22.0      1      1  12.2875  False  False   True

In [8]:
X = data.drop('Survived', axis=1)
y = data['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("\nTraining set size:", X_train.shape)
print("Test set size:", X_test.shape)

Training set size: (334, 9)
Test set size: (84, 9)

In [10]:
print("\nCleaned dataset (first 5 rows):")
print(data.head())

Cleaned dataset (first 5 rows):
   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Emb_C  Emb_Q  Emb_S
0         0       3    1  34.5      0      0   7.8292  False   True  False
1         1       3    0  47.0      1      0   7.0000  False  False   True
2         0       2    1  62.0      0      0   9.6875  False   True  False
3         0       3    1  27.0      0      0   8.6625  False  False   True
4         1       3    0  22.0      1      1  12.2875  False  False   True

In [11]:
print("\nMissing values after cleaning:")
print(data.isnull().sum())

Missing values after cleaning:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Emb_C       0
Emb_Q       0
Emb_S       0
dtype: int64

In [9]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

accuracy = model.score(X_test, y_test)
print("\nModel accuracy on test set:", round(accuracy, 4))

Model accuracy on test set: 1.0

In [12]:
data.to_csv('/content/cleaned_data.csv', index=False)
print("\nCleaned dataset saved as '/content/cleaned_data.csv'")

Cleaned dataset saved as '/content/cleaned_data.csv'